<a href="https://colab.research.google.com/github/karizaraidha/Habiskerja-Project/blob/main/Habiskerja_Final_Project_Madudigital.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# agar bisa pakai google drive sebagai tempat penyimpanan data
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df = pd.read_csv("gdrive/MyDrive/habiskerja/lead_scoring.csv")

In [ ]:
df.head()

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,...,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,API,Olark Chat,No,No,0,0.0,0,0.0,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,API,Organic Search,No,No,0,5.0,674,2.5,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,...,No,Potential Lead,Jakarta,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,...,No,Select,Jakarta,02.Medium,01.High,13.0,17.0,No,No,Modified
4,3256f628-e534-4826-9d63-4a8b88782852,660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,...,No,Select,Jakarta,02.Medium,01.High,15.0,18.0,No,No,Modified

In [ ]:
df.sample(10)

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,...,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
666,aef6dfa8-a12c-432e-b29a-85bb2dd4a19d,653651,Landing Page Submission,Google,No,No,0,2.0,190,2.0,...,No,NaN,Jakarta,02.Medium,01.High,13.0,18.0,No,No,Email Opened
3163,5fb92c3d-dce7-4bcd-a06c-8b655a1386be,629657,Landing Page Submission,Direct Traffic,No,No,1,5.0,1303,2.5,...,No,Potential Lead,Other Cities,NaN,NaN,NaN,NaN,No,Yes,Email Opened
3179,72fb7233-ba78-4a3d-8c83-07ac1725cc6a,629557,Landing Page Submission,Google,No,No,1,4.0,391,4.0,...,No,Potential Lead,Bodetabek,NaN,NaN,NaN,NaN,No,No,Email Opened
7512,abe2eb11-d733-4beb-90f7-f446eb445fcf,591977,Landing Page Submission,Direct Traffic,Yes,No,0,5.0,433,5.0,...,No,NaN,Other Cities,02.Medium,02.Medium,15.0,13.0,No,Yes,SMS Sent
231,c6afd99a-116a-403c-8f23-7022e2836891,658029,Landing Page Submission,Direct Traffic,No,No,0,3.0,66,3.0,...,No,Other Leads,Bodetabek,02.Medium,02.Medium,14.0,14.0,No,Yes,Email Opened
1780,585b92f2-5754-49d9-8473-88b74fd86c33,642098,Lead Add Form,Welingak Website,No,No,1,3.0,555,1.5,...,No,Select,Jakarta,02.Medium,01.High,15.0,17.0,No,No,Modified
5121,7e7b9833-4211-47e0-847e-972c002d70d3,610684,Landing Page Submission,Direct Traffic,No,No,0,5.0,38,2.5,...,No,Other Leads,Jakarta,NaN,NaN,NaN,NaN,No,Yes,Email Opened
1602,f1e206f0-37a0-48ac-8b20-5484f93589f8,643593,API,Google,No,No,0,4.0,4,4.0,...,No,Select,Select,02.Medium,02.Medium,13.0,15.0,No,No,Modified
4447,eaeefedb-f6e4-4c8e-afa2-14c3b9406aca,617000,API,Google,No,No,0,2.0,52,2.0,...,No,Select,Select,NaN,NaN,NaN,NaN,No,No,SMS Sent
4050,01d6d18a-39e3-48de-9e93-2ec63b2ace60,621198,Lead Add Form,Reference,No,No,1,0.0,0,0.0,...,No,Potential Lead,Bodetabek,NaN,NaN,NaN,NaN,No,No,SMS Sent

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Prospect ID                                     9240 non-null   object
 1   Lead Number                                     9240 non-null   int64
 2   Lead Origin                                     9240 non-null   object
 3   Lead Source                                     9204 non-null   object
 4   Do Not Email                                    9240 non-null   object
 5   Do Not Call                                     9240 non-null   object
 6   Converted                                       9240 non-null   int64
 7   TotalVisits                                     9103 non-null   float64
 8   Total Time Spent on Website                     9240 non-null   int64
 9   Page Views Per Visit                            9103 non-null   float64
 10  Last Activity                                   9137 non-null   object
 11  Country                                         6779 non-null   object
 12  Specialization                                  7802 non-null   object
 13  How did you hear about Madugital                7033 non-null   object
 14  What is your current occupation                 6550 non-null   object
 15  What matters most to you in choosing a product  6531 non-null   object
 16  Search                                          9240 non-null   object
 17  Magazine                                        9240 non-null   object
 18  Newspaper Article                               9240 non-null   object
 19  Madugital Telegram                              9240 non-null   object
 20  Newspaper                                       9240 non-null   object
 21  Digital Advertisement                           9240 non-null   object
 22  Through Recommendations                         9240 non-null   object
 23  Receive More Updates About Our Products         9240 non-null   object
 24  Tags                                            5887 non-null   object
 25  Lead Quality                                    4473 non-null   object
 26  Update me on Supply Chain Content               9240 non-null   object
 27  Get updates on DM Content                       9240 non-null   object
 28  Lead Profile                                    6531 non-null   object
 29  City                                            7820 non-null   object
 30  Asymmetrique Activity Index                     5022 non-null   object
 31  Asymmetrique Profile Index                      5022 non-null   object
 32  Asymmetrique Activity Score                     5022 non-null   float64
 33  Asymmetrique Profile Score                      5022 non-null   float64
 34  I agree to pay the amount through cheque        9240 non-null   object
 35  A free copy of Mastering The Interview          9240 non-null   object
 36  Last Notable Activity                           9240 non-null   object
dtypes: float64(4), int64(3), object(30)
memory usage: 2.6+ MB

In [ ]:
print(df.index)

RangeIndex(start=0, stop=9240, step=1)

In [ ]:
df.shape

(9240, 37)

In [ ]:
df.isnull().sum()

Prospect ID                                          0
Lead Number                                          0
Lead Origin                                          0
Lead Source                                         36
Do Not Email                                         0
Do Not Call                                          0
Converted                                            0
TotalVisits                                        137
Total Time Spent on Website                          0
Page Views Per Visit                               137
Last Activity                                      103
Country                                           2461
Specialization                                    1438
How did you hear about Madugital                  2207
What is your current occupation                   2690
What matters most to you in choosing a product    2709
Search                                               0
Magazine                                             0
Newspaper Article                                    0
Madugital Telegram                                   0
Newspaper                                            0
Digital Advertisement                                0
Through Recommendations                              0
Receive More Updates About Our Products              0
Tags                                              3353
Lead Quality                                      4767
Update me on Supply Chain Content                    0
Get updates on DM Content                            0
Lead Profile                                      2709
City                                              1420
Asymmetrique Activity Index                       4218
Asymmetrique Profile Index                        4218
Asymmetrique Activity Score                       4218
Asymmetrique Profile Score                        4218
I agree to pay the amount through cheque             0
A free copy of Mastering The Interview               0
Last Notable Activity                                0
dtype: int64

In [ ]:
df.isna().mean() * 100

Prospect ID                                        0.000000
Lead Number                                        0.000000
Lead Origin                                        0.000000
Lead Source                                        0.389610
Do Not Email                                       0.000000
Do Not Call                                        0.000000
Converted                                          0.000000
TotalVisits                                        1.482684
Total Time Spent on Website                        0.000000
Page Views Per Visit                               1.482684
Last Activity                                      1.114719
Country                                           26.634199
Specialization                                    15.562771
How did you hear about Madugital                  23.885281
What is your current occupation                   29.112554
What matters most to you in choosing a product    29.318182
Search                                             0.000000
Magazine                                           0.000000
Newspaper Article                                  0.000000
Madugital Telegram                                 0.000000
Newspaper                                          0.000000
Digital Advertisement                              0.000000
Through Recommendations                            0.000000
Receive More Updates About Our Products            0.000000
Tags                                              36.287879
Lead Quality                                      51.590909
Update me on Supply Chain Content                  0.000000
Get updates on DM Content                          0.000000
Lead Profile                                      29.318182
City                                              15.367965
Asymmetrique Activity Index                       45.649351
Asymmetrique Profile Index                        45.649351
Asymmetrique Activity Score                       45.649351
Asymmetrique Profile Score                        45.649351
I agree to pay the amount through cheque           0.000000
A free copy of Mastering The Interview             0.000000
Last Notable Activity                              0.000000
dtype: float64

In [ ]:
df_dropped = df.copy()

In [ ]:
df['How did you hear about Madugital'].unique()

array(['Select', 'Word Of Mouth', 'Other', nan, 'Online Search',
       'Multiple Sources', 'Advertisements', 'Student of SomeSchool',
       'Email', 'Social Media', 'SMS'], dtype=object)

In [ ]:
df_dropped['How did you hear about Madugital'] = df_dropped['How did you hear about Madugital'].fillna('Other')

In [ ]:
df['What is your current occupation'].unique()

array(['Unemployed', 'Student', nan, 'Working Professional',
       'Businessman', 'Other', 'Housewife'], dtype=object)

In [ ]:
df_dropped['What is your current occupation'] = df_dropped['What is your current occupation'].fillna('Other')

In [ ]:
df_dropped.isna().mean() * 100

Prospect ID                                        0.000000
Lead Number                                        0.000000
Lead Origin                                        0.000000
Lead Source                                        0.389610
Do Not Email                                       0.000000
Do Not Call                                        0.000000
Converted                                          0.000000
TotalVisits                                        1.482684
Total Time Spent on Website                        0.000000
Page Views Per Visit                               1.482684
Last Activity                                      1.114719
Country                                           26.634199
Specialization                                    15.562771
How did you hear about Madugital                   0.000000
What is your current occupation                    0.000000
What matters most to you in choosing a product    29.318182
Search                                             0.000000
Magazine                                           0.000000
Newspaper Article                                  0.000000
Madugital Telegram                                 0.000000
Newspaper                                          0.000000
Digital Advertisement                              0.000000
Through Recommendations                            0.000000
Receive More Updates About Our Products            0.000000
Tags                                              36.287879
Lead Quality                                      51.590909
Update me on Supply Chain Content                  0.000000
Get updates on DM Content                          0.000000
Lead Profile                                      29.318182
City                                              15.367965
Asymmetrique Activity Index                       45.649351
Asymmetrique Profile Index                        45.649351
Asymmetrique Activity Score                       45.649351
Asymmetrique Profile Score                        45.649351
I agree to pay the amount through cheque           0.000000
A free copy of Mastering The Interview             0.000000
Last Notable Activity                              0.000000
dtype: float64

In [ ]:
df.shape, df_dropped.shape

((9240, 37), (9240, 37))

## Check Duplicate Values

In [ ]:
df.duplicated().sum()

0

# Finding Data Insight

In [ ]:
pd.crosstab(df_dropped['How did you hear about Madugital'], df_dropped['Converted'], normalize = True)

Converted                                0         1
How did you hear about Madugital
Advertisements                    0.004113  0.003463
Email                             0.001407  0.001407
Multiple Sources                  0.010390  0.006061
Online Search                     0.050325  0.037121
Other                             0.220238  0.038745
SMS                               0.001948  0.000541
Select                            0.282684  0.263095
Social Media                      0.004221  0.003030
Student of SomeSchool             0.018074  0.015476
Word Of Mouth                     0.021212  0.016450

In [ ]:
pd.crosstab(df_dropped['How did you hear about Madugital'], df_dropped['What is your current occupation'], normalize = True)

What is your current occupation,Businessman,Housewife,Other,Student,Unemployed,Working Professional
How did you hear about Madugital,,,,,,
Advertisements,0.000000,0.000000,0.002165,0.000216,0.004762,0.000433
Email,0.000000,0.000000,0.000433,0.000000,0.002165,0.000216
Multiple Sources,0.000000,0.000000,0.004221,0.000216,0.010606,0.001407
Online Search,0.000108,0.000108,0.022186,0.000758,0.058658,0.005628
Other,0.000108,0.000108,0.241234,0.001732,0.014069,0.001732
SMS,0.000000,0.000000,0.001190,0.000000,0.001190,0.000108
Select,0.000649,0.000866,0.001515,0.018290,0.464610,0.059848
Social Media,0.000000,0.000000,0.001515,0.000108,0.005303,0.000325
Student of SomeSchool,0.000000,0.000000,0.007792,0.000866,0.021212,0.003680
Word Of Mouth,0.000000,0.000000,0.010606,0.000541,0.023485,0.003030

In [ ]:
df_dummies = pd.get_dummies(df_dropped[['How did you hear about Madugital', 'What is your current occupation']], drop_first = True)
df_modelling = df_dropped.join(df_dummies)
df_dummies.head()

,How did you hear about Madugital_Email,How did you hear about Madugital_Multiple Sources,How did you hear about Madugital_Online Search,How did you hear about Madugital_Other,How did you hear about Madugital_SMS,How did you hear about Madugital_Select,How did you hear about Madugital_Social Media,How did you hear about Madugital_Student of SomeSchool,How did you hear about Madugital_Word Of Mouth,What is your current occupation_Housewife,What is your current occupation_Other,What is your current occupation_Student,What is your current occupation_Unemployed,What is your current occupation_Working Professional
0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
1,0,0,0,0,0,1,0,0,0,0,0,0,1,0
2,0,0,0,0,0,1,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,1,0,0,0,1,0
4,0,0,0,1,0,0,0,0,0,0,0,0,1,0

In [ ]:
df_modelling.columns

Index(['Prospect ID', 'Lead Number', 'Lead Origin', 'Lead Source',
       'Do Not Email', 'Do Not Call', 'Converted', 'TotalVisits',
       'Total Time Spent on Website', 'Page Views Per Visit', 'Last Activity',
       'Country', 'Specialization', 'How did you hear about Madugital',
       'What is your current occupation',
       'What matters most to you in choosing a product', 'Search', 'Magazine',
       'Newspaper Article', 'Madugital Telegram', 'Newspaper',
       'Digital Advertisement', 'Through Recommendations',
       'Receive More Updates About Our Products', 'Tags', 'Lead Quality',
       'Update me on Supply Chain Content', 'Get updates on DM Content',
       'Lead Profile', 'City', 'Asymmetrique Activity Index',
       'Asymmetrique Profile Index', 'Asymmetrique Activity Score',
       'Asymmetrique Profile Score',
       'I agree to pay the amount through cheque',
       'A free copy of Mastering The Interview', 'Last Notable Activity',
       'How did you hear about Madugital_Email',
       'How did you hear about Madugital_Multiple Sources',
       'How did you hear about Madugital_Online Search',
       'How did you hear about Madugital_Other',
       'How did you hear about Madugital_SMS',
       'How did you hear about Madugital_Select',
       'How did you hear about Madugital_Social Media',
       'How did you hear about Madugital_Student of SomeSchool',
       'How did you hear about Madugital_Word Of Mouth',
       'What is your current occupation_Housewife',
       'What is your current occupation_Other',
       'What is your current occupation_Student',
       'What is your current occupation_Unemployed',
       'What is your current occupation_Working Professional'],
      dtype='object')

In [ ]:
df_modelling.drop(['Prospect ID', 'Lead Number', 'Lead Origin', 'Lead Source',
       'Do Not Email', 'Do Not Call', 'TotalVisits',
       'Total Time Spent on Website', 'Page Views Per Visit', 'Last Activity',
       'Country', 'Specialization', 'How did you hear about Madugital',
       'What is your current occupation',
       'What matters most to you in choosing a product', 'Search', 'Magazine',
       'Newspaper Article', 'Madugital Telegram', 'Newspaper',
       'Digital Advertisement', 'Through Recommendations',
       'Receive More Updates About Our Products', 'Tags', 'Lead Quality',
       'Update me on Supply Chain Content', 'Get updates on DM Content',
       'Lead Profile', 'City', 'Asymmetrique Activity Index',
       'Asymmetrique Profile Index', 'Asymmetrique Activity Score',
       'Asymmetrique Profile Score',
       'I agree to pay the amount through cheque',
       'A free copy of Mastering The Interview', 'Last Notable Activity'], axis = 1, inplace = True)

# Modelling Preparation

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [ ]:
train, test = train_test_split(df_modelling, test_size = 0.3, random_state = 10)

In [ ]:
train.shape, test.shape

((6468, 15), (2772, 15))

In [ ]:
train.columns

Index(['Converted', 'How did you hear about Madugital_Email',
       'How did you hear about Madugital_Multiple Sources',
       'How did you hear about Madugital_Online Search',
       'How did you hear about Madugital_Other',
       'How did you hear about Madugital_SMS',
       'How did you hear about Madugital_Select',
       'How did you hear about Madugital_Social Media',
       'How did you hear about Madugital_Student of SomeSchool',
       'How did you hear about Madugital_Word Of Mouth',
       'What is your current occupation_Housewife',
       'What is your current occupation_Other',
       'What is your current occupation_Student',
       'What is your current occupation_Unemployed',
       'What is your current occupation_Working Professional'],
      dtype='object')

# Modelling

In [ ]:
X_train = train.drop(['Converted'], 1)
y_train = train['Converted']

X_test = test.drop(['Converted'], 1)
y_test = test['Converted']

dt = DecisionTreeClassifier(random_state = 10)
dt.fit(X_train,y_train)

<ipython-input-28-4398d89b484e>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X_train = train.drop(['Converted'], 1)
<ipython-input-28-4398d89b484e>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X_test = test.drop(['Converted'], 1)

DecisionTreeClassifier(random_state=10)

In [ ]:
dt.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
y_test

567     0
2303    0
1523    0
6923    0
7841    0
       ..
9124    0
1049    0
7778    0
6432    0
924     0
Name: Converted, Length: 2772, dtype: int64

# Modelling Evaluation

In [ ]:
y_pred = dt.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
print(accuracy, precision, recall)

0.6778499278499278 0.8598130841121495 0.17574021012416427